<html>
<body>
    <form>
    
    
    Nome<input type="text" name="nome"/><br/> 
    Descrição  <textarea name ="descricao"></textarea><br/> 
    Quantidade <input type="number" name="quantidade"/><br/>
    Preço <input type="number" name="preco" step="0.01"/><br/>
        
    <button type="submit">Criar</button>  
                      
                      
                      
    
    
        
    
    
    </form>
<html>