<footer class="footer">
  <small>
      Loja de camisetas LTDA-ME
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li> </li>
    </ul>
  </nav>
</footer>
